/* body {
    height: 100vh;
    background-image: url("../img/0.jpg");
    background-image: no-repeat;
    background-size: cover;
} */

.hidden {
    display: none;
}

.weather_style {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    color:whitesmoke;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    margin: 20px;
}

.clock_style {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200px;
    color: whitesmoke;
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.name_style {
    width: 40%;
    border: 0;
    border-radius: 7px;
    outline: 0;
    font-size: 16px;
    padding: 1em; 
}

.form_align {
    text-align: center;
}

.left_align {
    text-align: left;
    margin-left: 30%;
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    height: 50px;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .print_name {
      text-align: center;
      color: whitesmoke;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 20px;
      text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  }

  .todo_input_style {
    width: 40%;
    border: 0;
    border-radius: 7px;
    outline: 0;
    font-size: 16px;
    padding: 1em;
    margin-top: 3%;
  }

  .todo_font_style {
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    color:whitesmoke;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
  }

  .todo_margin {
      margin-left: 2px;
  }

.delete_todo {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}